@theme "gruvbox-dark-hard"

configuration {
    modi: "drun,run,window";
    show-icons: true;
    display-drun: "Apps";
    display-run: "Run";
    display-window: "Ventanas";
    icon-theme: "Papirus";
    terminal: "alacritty";
    kb-mode-next: "Control+Tab";
    window-format: "{w} · {c} · {t}";
    drun-display-format: "{name}";
}
