configuration {
    modi: "drun,run,window";
    font: "monospace 12";
    terminal: "alacritty";
    show-icons: true;
    drun-display-format: "{name}";
    window-display-format: "{title}";
    display-drun: " Apps";
    display-run: " Run";
    display-window: " Ventanas";
    sidebar-mode: false;
    line-margin: 8;
    line-padding: 8;
    columns: 2;
}

@theme "themes/gruvbox-material";
