* {
    font: "Hack Nerd Font Mono 12";
}

configuration {
    modi: "drun,run,window";
    show-icons: true;
    display-drun: " Apps";
    display-run: " Run";
    display-window: " Ventanas";
    drun-display-format: "{name}";
    window-format: "{w} · {c} · {t}";
    icon-theme: "Papirus";
    terminal: "alacritty";
    kb-mode-next: "Shift+Tab";
    kb-mode-previous: "Tab";
}

@theme "/home/alejandrocabeza/.config/rofi/themes/gruvbox-material"
